@model AspNetCore_MVC.Models.PessoaModel


@*//Html Puro*@
@*<form action="/Pessoa/Save" method="post">*@

    @*//Razor com AspNetCore*@
<form asp-controller="Pessoa" asp-action="Save" method="post">

    Id:
    <input asp-for"Id" />
    <span asp-validation-for="Id"></span>
    <br />

    @*HTML Puro*@
    @*Nome:*@
    @*<input type="text" name="Nome" />*@

    @*Com Razor*@
    Nome:
    <input asp-for"Nome" />
    <span asp-validation-for="Nome"></span>

    <br />

    SobreNome:
    <input asp-for"Sobrenome" />
    <span asp-validation-for="Sobrenome"></span>

    <br />

    Idade:
    <input asp-for"Idade" />
    <span asp-validation-for="Idade"></span>

    <br />

    <button type="submit" name="salvar" style="width: 20px; height: 20px">Salvar</button>

</form>

    @if (ViewBag.Validacao != null)
    {
           <span>@ViewBag.Validacao</span>
    }


